hr {
    display:block;
    border:0px;
    height:10px;
    background-image:url('../img/hr-img.png');
}

.lastHr { 
    background: url('../img/small-logo.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
}
.lastHr:before,
.lastHr:after {
    content: '';
    display: block;
    position: absolute;
    background: #d7d7d7;
    height: 2px;
    top: 8px;
}
.lastHr:before {
    left: 0;
    right: 50%;
    margin-right: 10px;
}
.lastHr:after {
    right: 0;
    left: 50%;
    margin-left: 10px;
}