body{
    padding: 50px;
    width: 75%;
    margin: auto;
}
/**********************************************************************/
/***************** Start the header style *******************************/
/**********************************************************************/
header{
    overflow: hidden;
}
header .mainLogo{
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}
header h3{
    font-size: 45px;
    font-weight: 900;
    display: inline;
    font-family: 'Yellowtail', cursive;
    float:left;
    margin-right:5px;
}
header p{
    display: inline;
    letter-spacing: -1px;
    float: left;
    color: gray;
    font-size: 15px;
}
header .contactIcons{
    float:right;
    margin-bottom: 20px;
    margin-top: -35px;
    
}
header .contactIcons img{
    width: 35px;
    height: 35px;
    
}
.lastContactImg{
    margin-right: 10px;
}


hr {
    margin-top: 70px;
    clear: both;
    display:block;
    border:0px;
    height: 25px;
    background-image:url('../img/hr-img.png');
}

/**********************************************************************/
/***************** Start the main *******************************/
/**********************************************************************/
main{
    margin-top: 60px;
}
.gray{
    color: gray;
}
.mainH2{
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
}
main p.gray{
    float: left;
}
.paragraphsMainContainer{
 margin: 20px 0;

}
.paragraphsMainContainer p{
 margin-bottom: 50px;
 font-size: 30px;
 text-indent: 100px;
 color: rgb(85, 84, 84);
}
ul{
    float: left;
    margin: 0px 50px;
}
.listContainer{
    overflow: hidden;
    background-image: url('../img/list-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin:50px 0;
    padding :40px;
    font-size: 30px;
    /* box-shadow: #747474 -1px 9px 5px; */
}
.listContainer ul li{
    margin: 25px;
    color: rgb(92, 92, 92);
}
input[type=checkbox]:checked+ label{
text-decoration: line-through;
}




/**********************************************************************/
/***************** Start the footer *******************************/
/**********************************************************************/

footer img{
    float: left;
}
footer h5{
    /* float: left; */
    font-size: 25px;
    font-weight: 900;
    color: gray;
}
footer button{
    float: right;
    margin: 20px;
    background-color: rgb(218, 87, 54);
    height: 60px;
    width: 200px;
    color: wheat;
    font-size: 20px;
    /* padding: 15px; */
}
.footerTxt {
    float: left;
    margin-left: 20px;
}
.footerTxt p{
    font-size: 20px;
    color: rgb(163, 159, 159);
    max-width: 600px;
}
.footerProfile{
margin: 60px 0 ;
overflow: hidden;
}

.lastHr { 
    clear: both;
    background: url('../img/small-logo.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 25px;
    border: 0;
    position: relative;
    margin-top: 30px;
}
.lastHr:before,
.lastHr:after {
    content: '';
    display: block;
    position: absolute;
    background: #d7d7d7;
    height: 2px;
    top: 8px;
}
.lastHr:before {
    left: 0;
    right: 51%;
    margin-right: 10px;
}
.lastHr:after {
    right: 0;
    left: 51%;
    margin-left: 10px;
}
.lastParagraphs{
    margin-top: 30px;
    text-align: center;
    color: #aaa7a7;
    font-size: 20px;
}
.lastParagraphs p{
    margin: 10px;
}

